<form action='/' method="post">
    <input type="text" name="user" placeholder="username" >
    <input type="password" name='password' placeholder='password'>
    <input type='text' name="database" placeholder="Database Name">
    <button type="submit">SUBMIT</button>
</form>